.fontFamilyMontserrat-Black{font-family: 'Montserrat-Black';}
@font-face {
    font-family: 'Montserrat-Black';
    src: url('Montserrat-Black.woff2') format('woff2'),
        url('Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
.fontFamilyBodoniMT{font-family: 'BodoniMT';}
@font-face {
    font-family: 'Bodoni MT';
    src: url('BodoniMT.woff2') format('woff2'),
        url('BodoniMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.fontFamilyCeraPro-Bold{font-family: 'CeraPro-Bold';}
@font-face {
    font-family: 'CeraPro-Bold';
    src: url('CeraPro-Bold.woff2') format('woff2'),
        url('CeraPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.fontFamilyMontserrat-Medium{font-family: 'Montserrat-Medium';}
@font-face {
    font-family: 'Montserrat-Medium';
    src: url('Montserrat-Medium.woff2') format('woff2'),
        url('Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.fontFamilyCeraPro-Light{font-family: 'CeraPro-Light';}
@font-face {
    font-family: 'CeraPro-Light';
    src: url('CeraPro-Light.woff2') format('woff2'),
        url('CeraPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
.fontFamilyMontserrat-Regular{font-family: 'Montserrat-Regular';}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('Montserrat-Regular.woff2') format('woff2'),
        url('Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

