@import url('fonts/stylesheet.css');


body{
    font-family: 'CeraPro-Light';
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
hr {
    background-color: #bebebe;
}
.userIcon{
    width: 30px;
    height: 30px;
    background-color: #CCCCCC ;
    border-radius: 100%;
    /* overflow: hidden; */
    
}
.marginNag{margin-top: -2rem;}
.cursorPointer{cursor: pointer;}
.border-radius3 {
    border-radius: 3rem;
}
.border-radiuspoint5 {
    border-radius: 0.5rem;
}
.bg_darkblue{
    background-color: #01317a;
}
.bg_lightblue{
    background-color: #00A7E1;
}

.bg-white{
    background-color: #fff;
}

.bg_banner{
    background: url('images/banner.png') no-repeat;
    background-size: cover;
    
}
.bg-light100{
    background-color: #f6f6f6;
}

.text-black{
    color: #000000;
}
.text-darkGray{color: #3A3A3A;}
.text-darkGray900{color: #333333;}
.text-orange{color: #9E5213;}
.text_lightBlue{
    color: #0000FF;
}
.font-size14px {
    font-size: 14px;
}

.font-size5point5rem{font-size: 5.5rem;}

.mheight85vh{
    min-height: 93.2vh;
}


.chatbotPosition{
    /* bottom: 0;
    right: 5rem; */
    
}

.chatbotPosition .accordion-button {
    padding: 0.5rem 1rem;
    color: #9E5213;
    background-color: #fff;
    font-family: 'Montserrat-Medium';
    
}

.chatbotPosition .accordion-item {
    border: 0px solid transparent;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
}

.chatbotPosition .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #000;
    font-family: 'CeraPro-Bold';
}

.chatbotPosition .accordion-item:last-of-type {
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.chatbotPosition .accordion-item:first-of-type {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
.chatbotPosition .accordion-button::before {
    content: "\f544";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    border-right: 1px solid #dee2e6!important;
    padding: .25rem .5rem .25rem .25rem;
}
.chatbotPosition .accordion-button p::before {
    content: "Welcome to Dermabot";
}

.chatbotPosition .accordion-button:not(.collapsed)::before {
    content: "";
    border-right: 0px solid #dee2e6!important;
    display: none;
}
.chatbotPosition .accordion-button:not(.collapsed) p::before {
    content: "Chat with Virtual Agent";
}
.chatbotPosition .accordion-button:not(.collapsed) p {
    text-align: center;
}

.chatbotPosition .accordion-button:after {
    /* background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important; */

    background-image: none !important;

    content: "";
    display: none;
    font-size: 0.1rem !important;
  }

.chatbotPosition .accordion-button:not(.collapsed)::after {
    /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e); */
    transform: rotate(0deg);
    content: "\f00d";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.2rem !important;
}

.chatbotPosition .accordion-button::after {
    transform: rotate(-180deg);
}
.chatbotPosition  .accordion-body {
    padding: 0rem;
}

@media screen and (max-width: 575px) {
    /* .chatbotPosition{
        bottom: 0;
        right: 1rem;
        left: 1rem;
    } */
    .font-size5point5rem {
        font-size: 2.5rem;
    }
}



/* .container {
    text-align: right;
} */

.input {
    padding: 1rem 1.5rem;
}
.input input{    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.5rem !important;
    border: 1px solid #CCCCCC !important;}

.input .input-group-text {
    border: 0;
    border-radius: 3rem;
    background-color: #fff;
}

.input  a {
    color: #BABABA;
    text-decoration: underline;
}

.bot {
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
}

.bot > .textbox{
    background-color: #F7F4F3;
    border-radius: 10px;
    margin-left: 0.5rem;

    -webkit-box-flex: 1;
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}
.bot > .textbox > h5{
    font-size: 1rem;
}

.bot > .userIcon {
    background: url('images/icon/icon1.png') no-repeat;
    background-size: cover;
}


.user {
    
    margin-top: 20px;
    display: flex;
    /* align-items: center; */
    justify-content: end;
    flex-flow: row-reverse;
}
.user > .textbox{
    background-color: #E6E6E6;
    border-radius: 10px;
    margin-right: 0.5rem;

    -webkit-box-flex: 1;
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.user > .userIcon {
    background: url('images/icon/user.png') no-repeat;
    background-size: cover;
}
.chat {
    /* display: inline-block;
    max-width: 300px; */
}

.historyContainer {
    padding: 0rem 1.5rem ;
    height: 570px;
    overflow-y: scroll;
}

.historyContainer::-webkit-scrollbar {
    width: 0.3em;
  }
   
  .historyContainer::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
  }
   
  .historyContainer::-webkit-scrollbar-thumb {
    background-color: #dee2e6;
  }



.circle {
    font-size: large;
    text-align: left;
}



.bg-lightGray{background-color: #F2F2F2;}